

  <container>
    <row class="grey"></row>
    <row class="collapse">
      <columns>
        <center>
            <a href="http://www.sendwithus.com" align="center" class="text-center">
                <img src="https://www.sendwithus.com/assets/img/zurb-template-images/logo-placeholder.png" class="swu-logo" alt="Logo Image">
            </a>
        </center>
      </columns>
    </row>

    <row class="collapse masthead">
        <columns>
        <h1 class="text-center">Your order has shipped!</h1>
        <center>
            <img src="https://www.sendwithus.com/assets/img/zurb-template-images/cat-placeholder.png" valign="bottom" alt="Masthead Image" align="center" class="text-center">
        </center>
        </columns>
    </row>
    <spacer size="16"></spacer>
  </container>

  <container>
    <row>
       <columns>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <spacer></spacer>
        <button class="large warning" href="#">Track Order</button>
       </columns>
    </row>
   
    <spacer size="15"></spacer>
    <row>
        <columns><hr>&#xA0;</columns>
    </row>

   <row>
       <columns class="large-offset-1" small="12" large="6">
        <h5>Shipping Address</h5>
        <p>John Doe</p>
        <p>123 Real St.</p>
        <p>Anywhere, USA</p>
        <p>11111</p>
       </columns>
       <columns small="12" large="6">
        <h5>Date Shipped</h5>
        <p>October 31, 2015</p>
        <br>
        <h5>Order</h5>
        <p><a href="#">#455948</a></p>
       </columns>
   </row>

   <spacer size="15"></spacer>
    <row>
        <columns><hr>&#xA0;</columns>
    </row>
    <spacer size="15"></spacer>

    <row>
        <columns>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </columns>
    </row>
    <spacer size="20"></spacer>

  </container>

  <container>
    <row class="grey">
        <columns><p class="text-center footercopy">&#xA9; The contents belongs to Sendwithus but the code is re-written <br>by Chloe Kim.</p></columns>
    </row>
  </container>
