
<container>
    <row >
        <columns class="2columnv2Block" large="6" >
            <row >
                <img style="padding-top:15px;" src="http://placehold.it/450x150" width="270" alt="" />
                <p style="padding-top:15px;font-family: arial,sans-serif; font-size: 22px; color: #333;">This is a story headline</p>
                <p style="font-family: arial,sans-serif; font-size: 14px; line-height: 20px !important; color: #7f7f7f; padding-top: 10px;">Virtual computing via the cloud is all the rage these days but blade servers, which make up the bulk of the infrastructure for cloud computing systems, require specific fusing for high reliability and uptime. The Littelfuse 456 Series--- NANO2 Subminature Surface Mount Fuse - is perfect for this.</p>
               <img src="http://placehold.it/118x34/333&text=Learn+More" alt="Learn More" style="padding-top: 15px;display: block; border: 0;" />
            </row>
        </columns>
        <columns class="2columnv2Block" large="6" >
            <row >
                <img style="padding-top:15px;" src="http://placehold.it/450x150" width="270" alt="" />
                <p style="padding-top:15px;font-family: arial,sans-serif; font-size: 22px; color: #333;">This is a story headline</p>
                <p style="font-family: arial,sans-serif; font-size: 14px; line-height: 20px !important; color: #7f7f7f; padding-top: 10px;">Virtual computing via the cloud is all the rage these days but blade servers, which make up the bulk of the infrastructure for cloud computing systems, require specific fusing for high reliability and uptime. The Littelfuse 456 Series--- NANO2 Subminature Surface Mount Fuse - is perfect for this.</p>
               <img src="http://placehold.it/118x34/333&text=Learn+More" alt="Learn More" style="padding-top: 15px;display: block; border: 0;" />
            </row>
        </columns>
    </row>
</container>

<!--<table class="container" align="center">
 <th class="small-12 large-6 columns ">
  <table>
    <tr>
      <th>One</th>
    </tr>
  </table>
</th>
<th class="small-12 large-6 columns">
  <table>
    <tr>
      <th>Two</th>
    </tr>
  </table>
</th>
</table>

