---
subject: Test 1
---
<container>
  <row>
    <h1>My Responsive Email </h1>
    <small>With a nice, centered title</small>

    <p>Everything markdown is converted automatically into a responsive email template powered by <a href="http://zurb.com/ink/" title="Ink is awesome!">Zurb’s Ink framework</a>.</p>
  </row>

  <row>
   <columns small="6">
    <p>Not in a callout :(</p>
   </columns>
   <columns small="6">
    <callout class="secondary">
      <p>I'm in a callout!</p>
    </callout>
   </columns>
  </row>

  <callout class="primary">
    <row>
      <columns small="12">
        <p>This whole row is in a callout!</p>
      </columns>
    </row>
  </callout>
  
</container>
<!--{{> componentTest}}-->
