---
subject: SquareGallery
---

<style>

    
</style>

<container>
  <row small="12" class="collapse">
      <!-- width="520" height="415" style="border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;"-->
    <img src="http://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/in_the_conservatory.jpg" alt="In The Conservatory, by Édouard Manet"   id="heroImage" >
  </row>
  <row class="collapse" id="introductionContainer">
      <columns large="3">
      <a href="#" target="_blank" title="square gallery">
          <!-- height="165" width="150" -->
      <img src="http://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/logo.2.png" alt="square gallery"  /></a>
      </columns>
      <columns large="9">
        presents
        <br />
        <h1>The Works of Édouard Manet</h1>
      </columns>
  </row>

  <row>
      <columns>
      Starting on October 12th and running for three weeks, square gallery is proud and excited to display a selection of 6 pieces of the work of Édouard Manet, the French master painter of the great Impressionist and Realist movements of the 17th century. 
      </columns>
  </row>
</container>


<wrapper class="promo">
  <container class="galleryPromo">
    <row id="callToActionBlock">
      <columns class="callToActionContent">
        <img src="http://placehold.it/200x50/663399">
      </columns>
      <columns>
        <p class="text-right">SIDEBAR HERO</p>
      </columns>
    </row>
  </container>
</wrapper>

